header {
    margin-top: 0;
}
html,
body,
* {
    font-family: 'Roboto', sans-serif !important;
}

nav {
    background-color: var(--white) !important;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
}

.navbar {
    min-height: auto !important;
}

.nav li {
    margin: 0 !important;
}

.navbar-nav li a {
    color: #7e7e7e !important;
    padding: 20px 22px !important;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    letter-spacing: 0.20px !important;
}

/* .navbar-nav li a::first-letter{
text-transform: uppercase;
} */
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    display: flex !important;
    justify-content: center;
}

.navbar-nav ul li a {
    color: var(--white) !important;
    letter-spacing: 0.20px !important;
}

/* .navbar-nav ul li *::first-letter, .navbar-nav ul li a.parent span::first-letter{
text-transform: uppercase;
} */
.navbar-submenu-list li {
    width: 100%;
}

.navbar-submenu {
    min-width: 211px !important;
}

.caret {
    margin-left: 5px !important;
}

.contact-us-heading h3 {
    font-size: 24px !important;
}

.navbar-nav li:nth-child(4) .navbar-submenu {
    min-width: 215px !important;
}

.navbar-nav li:nth-child(3) .navbar-submenu {
    min-width: 500px !important;
}

.navbar-nav ul li a.parent {
    margin-left: 4px !important;
}

.service-content-text p strong {
    margin: 10px 0 !important;
    display: block;
}

.service-content {
    font-size: 15px !important;
}

.services h1 {
    font-size: 30px !important;
}

li.cos-sur-dwn a {
    text-decoration: underline !important;
}

li.cos-sur-dwn a:hover {
    background: none !important;
}

@media only screen and (max-width: 767px) {
    body .top-header {
        max-height: 53px !important;
    }
    .home-blogs .swiper-pagination {
        display: block;
        bottom: -25px;
    }

    .products .swiper-pagination {
        display: flex;
        bottom: 40px;
    }

    body .top-header {
        height: 50px;
    }

    header .top-header .g-row {
        height: 50px;
    }

    header .top-header .g-flex-col:nth-child(1),
    header .top-header .g-flex-col:nth-child(3) {
        display: none !important;
    }

    header .site-logo {
        height: 36px;
    }

    .navbar-nav li a {
        color: #7e7e7e !important;
    }

    .banner {
        margin-top: 50px;
    }

    .book-pop-up-ri-bot {
        display: none;
    }
}

.book-pop-up-ri-bot {
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 1111111111111111111111111111111111111111;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.section-heading {
    width: 100% !important;
}
.banner.c-pad-top{
   background-image: url('/assests/images/landing-slider-1-image.jpg') !important; 
   background-size: cover !important; 
   background-position: center !important; 
   height: 550px !important; 
   display: flex !important; 
   justify-content: center !important; 
   align-items: flex-end !important; 
   position: relative !important;

}

.banner-title{
    margin-top: -30% !important;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    letter-spacing:6px;
}
.subline{
    text-align: center !important;
    margin-top: -15% !important;
    width: 50% !important;
    margin-left: 25% !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
    margin-bottom: 23px;
    text-align: justify;
    text-align: justify !important;
    letter-spacing: 1px;
}


.home-services.g-sec-pad{
    margin-top: 6rem;
}
.more-view{
    width: 15rem;
    font-size: x-large;
    background: black;
    color: #fff;
}


@media only screen and (max-width:890px){
    .banner-title {
        margin-top: -40% !important;
        font-size: 3.5rem !important;
    }
    .subline{
        margin-top: -15% !important;
    }
    .banner.c-pad-top{
        background-size: inherit !important; 
        height: 300px !important;
     }
     .home-services.g-sec-pad {
        margin-top: -3rem;
    }
    .service-title{
        font-size: 3.5rem !important;
    }
    .more-view{
        margin-top: 14%;
    }
}

.desc p {
    margin: 16px 0 !important;
}

.about-home {
    padding: 0;
}

.about-home .g-row {
    background-color: #F1F1F1 !important;
}

.about-home .g-container {
    padding: 0;
}

.about-home .about-dermaclin {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 80px;
    margin-right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
    height: 40rem;
}

.about-home .about-dermaclin::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about-home .why-chose {
    padding: 40px;
    margin: 80px;
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20);
}

.about-home .why-chose * {
    color: #000;
}
.about-home .why-chose h2 {
    color: #000;
}

.about-home .why-chose li {
    margin: 3px 0;
    font-size: 15px;
    margin-left: 38px;
    letter-spacing: 0.20px;
}

.about-home .why-chose li:first-line {
    margin-left: -38px;
}

.about-home .why-chose li i {
    font-size: 30px;
    color: #5e7634;
}

.about-home h2 {
    text-align: center;
    margin-bottom: 10px;
}

.about-home .float-about {
    position: absolute;
    left: -60px;
    top: 18rem;
    background-color: rgba(0, 0, 0, 0.89);
    padding: 40px;
    width: 60%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);

}

.about-home .desc p {
    font-size: 14px;
}
.why_choose_txt-title{
    color: #000;
}

@media only screen and (max-width:890px) {
    .about-home .about-dermaclin {
        margin: 0;
        max-height: 400px;
    }

    .about-home .why-chose {
        margin: 0;
        box-shadow: none;
        padding: 21px 20px;
        border-bottom: 1px solid #f1f1f1;
    }

    .about-home .float-about {
        position: relative;
        left: 0;
        width: 100%;
        margin-top: -190%;
        top: initial;
    }

    .about-home .ed-heading::after {
        left: 50%;
        transform: translateX(-50%);
    }
}

.home-service.g-sec-pad.cosmetic-experts{
    padding-top:60px;
}
.client-exp.text-center{
    margin-top: 5rem;
    font-size: 42px;
    font-weight: 500;
}


.exp-right-column {
    flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
    .g-flex-col-mob {
        flex-direction: column !important;
    }
}

